.ipynb_checkpoints
__pycache__/*
.idea/*
csv_files
Groups
images
my_California_housing_logs
t-files
photos
data/so_data/2020-09-08 63800602/63800602.ipynb
*.log
/Tools/logs
/Tools/output
/cache
*.csv
*.xls
*.url
*.xlsx
*.jpg
*.png